/* Estilos para o corpo e HTML */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Estilos para a navbar */
.navbar {
    width: 250px;
    height: 100%;
    background-color: #616161;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    padding: 10px 20px;
    border-bottom: 1px solid #444;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para a tabela */
.table-container {
    height: 85%;
    /* 85% da altura da tela */
    overflow: auto;
    margin-left: 250px;
    /* Largura da navbar */
    padding: 10px;
    /* Espaçamento do conteúdo da tabela */
    max-height: 710px; /* Altura máxima da tabela */
    overflow-y: auto; 
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}

.custom-table thead {
    background-color: #333;
    color: #fff;
}

.custom-table th {
    font-weight: bold;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.custom-table a {
    text-decoration: none;
    color: #3498db;
}

/* Estilos para o formulário */
#form-container {
    width: 100%;
    /* 85% da largura da tela */
    max-height: 23.1%;
    /* No máximo 20% da altura da tela */
    position: fixed;
    bottom: 50px;
    /* Distância do formulário ao rodapé */
    left: 250px;
    /* Largura da navbar */
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
    overflow-y: auto;
}
.title-container {
    position: sticky;
    top: 0;
    background-color: #fff; /* Defina a cor de fundo desejada */
    z-index: 1; /* Certifique-se de que o título esteja acima da tabela */
}

.table-heading {

    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    /* Espaçamento inferior entre os campos */
    width: 78%;
    display: flex;
    /* Tornar os itens do grupo flexíveis */
    border-radius: 5px;
    /* Cantos arredondados dos campos */
    align-items: center;
    /* Centralizar verticalmente os itens do grupo */
}

.form-group label {
    margin-right: 10px;
    margin-left: 10px;
    /* Espaçamento à direita do rótulo */
}

/* Estilos para o campo de seleção */
.form-group select {
    width: 100%;
    /* Largura total do campo de seleção */
    padding: 10px;
    /* Espaçamento interno dos campos */
    border: 1px solid #ccc;
    /* Borda dos campos */

}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #258cd1;
}

/* Estilos para o footer */
footer {
    text-align: center;
    background-color: #616161;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Largura total */
}


/* Estilos para o botão Editar */
.btn-editar {
    background-color: #FFD700; /* Cor de fundo amarela */
    color: #fff; /* Cor do texto branco */
    border: none; /* Sem borda */
    padding: 5px 10px; /* Espaçamento interno do botão */
    border-radius: 3px; /* Cantos arredondados */
    cursor: pointer; /* Cursor do mouse em formato de mão */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.btn-editar:hover {
    background-color: #FFA500; /* Cor de fundo laranja quando o mouse está sobre ele */
}

/* Estilos para o botão Excluir */
.btn-excluir {
    background-color: #FF0000; /* Cor de fundo vermelha */
    color: #fff; /* Cor do texto branco */
    border: none; /* Sem borda */
    padding: 5px 10px; /* Espaçamento interno do botão */
    border-radius: 3px; /* Cantos arredondados */
    cursor: pointer; /* Cursor do mouse em formato de mão */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.btn-excluir:hover {
    background-color: #8c0a13; /* Cor de fundo laranja quando o mouse está sobre ele */
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.img {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.img img {
    max-width: 100%;
    height: auto;
}
